{% extends 'base.html' %}

{% block title %}About Core Values{% endblock title %}

{% block context %}
<section class="text-gray-600 body-font">
	<div class="container px-5 py-24 mx-auto">
	  <div class="text-center mb-20">
	    <h1 class="sm:text-3xl text-2xl font-medium text-center title-font text-gray-900 mb-4">Our Core Values</h1>
	  </div>
	  <div class="flex flex-wrap lg:w-4/5 sm:mx-auto sm:mb-2 -mx-2">
	    <div class="p-2 sm:w-1/2 w-full">
	      <div class="bg-gray-100 rounded flex p-4 h-full items-center">
		<svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-indigo-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
		  <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
		  <path d="M22 4L12 14.01l-3-3"></path>
		</svg>
		<span class="title-font font-medium">Passion</span>
	      </div>
	    </div>
	    <div class="p-2 sm:w-1/2 w-full">
	      <div class="bg-gray-100 rounded flex p-4 h-full items-center">
		<svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-indigo-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
		  <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
		  <path d="M22 4L12 14.01l-3-3"></path>
		</svg>
		<span class="title-font font-medium">Loyalty</span>
	      </div>
	    </div>
	    <div class="p-2 sm:w-1/2 w-full">
	      <div class="bg-gray-100 rounded flex p-4 h-full items-center">
		<svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-indigo-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
		  <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
		  <path d="M22 4L12 14.01l-3-3"></path>
		</svg>
		<span class="title-font font-medium">Honesty</span>
	      </div>
	    </div>
	    <div class="p-2 sm:w-1/2 w-full">
	      <div class="bg-gray-100 rounded flex p-4 h-full items-center">
		<svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-indigo-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
		  <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
		  <path d="M22 4L12 14.01l-3-3"></path>
		</svg>
		<span class="title-font font-medium">Positivity</span>
	      </div>
	    </div>
	    <div class="p-2 sm:w-1/2 w-full">
	      <div class="bg-gray-100 rounded flex p-4 h-full items-center">
		<svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-indigo-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
		  <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
		  <path d="M22 4L12 14.01l-3-3"></path>
		</svg>
		<span class="title-font font-medium">Efficiency</span>
	      </div>
	    </div>
	    <div class="p-2 sm:w-1/2 w-full">
	      <div class="bg-gray-100 rounded flex p-4 h-full items-center">
		<svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-indigo-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
		  <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
		  <path d="M22 4L12 14.01l-3-3"></path>
		</svg>
		<span class="title-font font-medium">Commitment</span>
	      </div>
	    </div>
	  </div>
	</div>
      </section>
{% endblock context %}