{% extends 'base.html' %}

{% block title %}{{newsfeed.title}} - News{% endblock title %}

{% block context %}
<div class="container mx-auto px-4">
	<div class="rounded-lg overflow-hidden h-96">
		<img src="https://source.unsplash.com/random/900x700/?sports" alt="Image" class="object-cover object-center h-full w-full">
	</div>
	<h1 class="text-6xl mt-4 text-center">{{newsfeed.title}}</h1>
	<br>
	<p class="text-center text-sm">- {{newsfeed.date}}</p>
	<p class="text-center mt-6 my-6"><p>{{newsfeed.desc|safe}}</p></p>
</div>
{% endblock context %}