{% extends 'base.html' %}

{% block title %}Login{% endblock title %}

{% block context %}
<div class="bg-grey-lighter min-h-screen flex flex-col">
	<div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
		<div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
			<h1 class="mb-8 text-3xl text-center font-bold">Login</h1>
			<form method="POST">
				{% csrf_token %}
				{% for field in form %}
				<p>
					{{ field.label_tag }}<br>
					{{ field }}
					{% for error in field.errors %}
				<p class="text-red-600">{{ error }}</p>
				{% endfor %}
				</p>
				{% endfor %}
				<button type="submit"
					class="flex mx-auto mt-4 text-white bg-purple-500 border-0 py-2 px-8 focus:outline-none hover:bg-purple-600 rounded text-lg">Login</button>
			</form>
			<div class="text-center text-sm text-grey-dark mt-4">
				By loging in, you agree to the
				<a class="no-underline border-b border-grey-dark text-grey-dark" href="#">
					Terms of Service
				</a> and
				<a class="no-underline border-b border-grey-dark text-grey-dark" href="#">
					Privacy Policy
				</a>
			</div>
		</div>
		<div class="text-grey-dark mt-6">
			Don't have an account?
			<a class="no-underline border-b border-blue text-blue" href="{% url 'signup' %}">
				Sign Up
			</a>.
		</div>
	</div>
</div>
{% endblock context %}